h1{
    color:grey;
    text-align: center;
    text-decoration: underline;
    size: 1rem;
}
body{
    background-color: antiquewhite;
    text-align: center;
}
p{
    text-align: center;
    font-size: large;
    color: brown;
}

h3{
    color:brown;
    text-align: center;
}
.show{
    display: inline-block;
    text-align: left;
}
